/** ===== Blog ===== */
:root {
	/* Main color */
	--color-canvas: #262626;
	--color-canvas-inverted: #323232;

	--color-brand-primary: #3d3d3d;
	--color-brand-secondary: #a8a8a8;
	--color-brand-tertiary: #f5d575;

	--color-text-primary: #f5d575;
	--color-text-secondary: #3d3d3d;
	--color-text-inverted: #a8a8a8;
	--color-text-light: #fff;
	--color-text-dark: #000;

	--color-btn-primary: #f6d676;
	--color-btn-inverted: #3d3d3d;
	--color-btn-secondary: #a8a8a8;

	--color-border-primary: #3a3f4a;
	--color-border-secondary: #6a7080;
	--color-border-white-transparent: #ffffff4a;
	--color-border-black-transparent: #0000004a;
	--color-border-white-navbar: #ffffff2d;

	--color-hover-white-transparent: #ffffff0f;
	--color-hover-black-transparent: #00000021;

	--color-white: #fff;
	--color-black: #000;

	--line-color: #0000002e;

	--color-text-link: --color-text-ok: --color-text-warn: --color-text-danger: --color-ui-primary: --color-ui-secondary: --color-ui-tertiary: --color-ui-ok: --color-ui-warn: --color-ui-danger:
}

#blog {
	width: 100%;
	height: 100vh;
	background: var(--color-canvas);
}

.blog {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*? ============ Blog Title  ============ */
.blog .title {
	width: 90%;
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.blog .title h2 {
	font-size: 3rem;
	margin-right: 25%;
	color: var(--color-text-primary);
}

.blog .title h3 {
	font-size: 2rem;
	margin-right: 35%;
	color: var(--color-text-inverted);
}

/*? ============ Blogs Aria ============ */
.blog .wrapper {
	width: 90%;
	height: 80%;
	display: flex;
	flex-direction: row;
	padding: 0;
}

/* Left Blogs */
.blog .wrapper .prevBlogs {
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5%;
}

.blog .wrapper .prevBlogs .olderBlog {
	position: relative;
	width: 95%;
	height: 40%;
	overflow: hidden;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	box-shadow: #00000080 0px 2px 10px;
}

.blog .wrapper .prevBlogs .oldBlog {
	position: relative;
	width: 95%;
	height: 48%;
	overflow: hidden;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	box-shadow: #00000080 0px 2px 10px;
}

/* Right Blog */
.blog .wrapper .lastBlog {
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.blog .wrapper .lastBlog .more {
	width: 90%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.blog .wrapper .lastBlog .more p a {
	color: var(--color-text-primary);
}

.blog .wrapper .lastBlog .newBlog {
	position: relative;
	width: 95%;
	height: 85%;
	overflow: hidden;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	box-shadow: #00000080 0px 5px 20px;
}

/* Common styles in objects */
.blog .wrapper .cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog .wrapper img {
	position: absolute;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}

.blog .wrapper img:hover {
	scale: 105%;
}

.blog .wrapper .description {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	pointer-events: none;
	padding: 1.2rem;
	margin: auto;
	background: linear-gradient(180deg,
			#00000000 0%, #000000de 80%);
}

.blog .wrapper .description a {
	font-size: 1.7rem;
	font-weight: 200;
	color: var(--color-text-primary);
}

.blog .wrapper .description p {
	font-size: 1.2rem;
	color: var(--color-text-inverted);
}


/** ===== Blog Responsive ===== */
/* Big Screen */
@media screen and (max-width: 1200px) {
	.blog .title {
		width: 100%;
		height: 20%;
		margin-bottom: 5%;
	}

	.blog .wrapper {
		width: 100%;
		height: 70%;
	}
}

/* Laptop */
@media screen and (max-width: 900px) {

	/* Blog Title */
	.blog .title {
		width: 75%;
		height: 20%;
		justify-content: center;
	}

	.blog .title h2 {
		margin-right: 0;
	}

	.blog .title h3 {
		font-size: 2rem;
		margin-right: 20%;
		color: var(--color-text-inverted);
	}

	/* Blog Aria */
	.blog .wrapper {
		position: relative;
		width: 80%;
		height: 80%;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	.blog .wrapper .lastBlog {
		width: 100%;
		height: 50%;
		margin-bottom: 5rem;
	}

	.blog .wrapper .lastBlog .more {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		justify-content: center;
	}

	.blog .wrapper .lastBlog .newBlog {
		width: 100%;
		height: 100%;
	}

	.blog .wrapper .prevBlogs {
		width: 100%;
		height: 30%;
		flex-direction: row;
		gap: 2rem;
	}

	.blog .wrapper .prevBlogs .olderBlog,
	.blog .wrapper .prevBlogs .oldBlog {
		width: 50%;
		height: 100%;
	}

	.blog .wrapper .description a {
		font-size: 1.4rem;
	}

	.blog .wrapper .description p {
		font-size: 1.2rem;
	}


}

/* Tablet */
@media screen and (max-width: 768px) {
	.blog .wrapper {
		width: 90%;
	}

	.blog .wrapper .lastBlog {
		height: 45%;
		margin-bottom: 2rem;
	}

	.blog .wrapper .lastBlog .more p {
		font-size: 1.2rem;
		font-weight: 600;
	}

	.blog .wrapper .prevBlogs {
		flex-direction: column;
		height: 45%;
		gap: 2rem;
		justify-content: flex-start;
	}

	.blog .wrapper .prevBlogs .olderBlog,
	.blog .wrapper .prevBlogs .oldBlog {
		width: 100%;
		height: 35%;
		display: flex;
		flex-direction: row;
	}

	.blog .wrapper .prevBlogs a {
		width: 30%;
	}

	.blog .wrapper .prevBlogs img {
		position: static;
		width: 100%;
	}

	.blog .wrapper .prevBlogs .description {
		position: static;
		width: 70%;
		height: 100%;
		justify-content: center;
		background: linear-gradient(180deg,
				#00000000 0%, #000000ed 80%);
	}

	.blog .wrapper .description a {
		font-size: 1.4rem;
		width: 100%;
		pointer-events: visible;
	}
}

/* Smart Phone */
@media screen and (max-width: 480px) {
	.blog .title {
		width: 100%;
	}

	.blog .wrapper {
		width: 100%;
	}

	.blog .wrapper .lastBlog {
		height: 40%;
		margin-bottom: 4rem;

	}

	.blog .wrapper .lastBlog .more p {
		text-align: center;
		font-size: 1.3rem;
	}

	.blog .wrapper .prevBlogs {
		height: 40%;
	}

	.blog .wrapper .prevBlogs .olderBlog,
	.blog .wrapper .prevBlogs .oldBlog {
		height: 35%;
	}

	.blog .wrapper .prevBlogs a {
		width: 40%;
	}

	.blog .wrapper .description a {
		font-size: 1.4rem;
		width: 100%;
		pointer-events: visible;
	}

	.blog .wrapper .prevBlogs .description p {
		display: none;
	}
}