@font-face {
  font-family: "iransans";
  src: url("../fonts/isans.ttf");
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.ttf");
}

@font-face {
  font-family: "shabnam";
  src: url("../fonts/Shabnam.ttf");
}

@font-face {
  font-family: "shabnam-Light";
  src: url("../fonts/Shabnam-Light.ttf");
}

@font-face {
  font-family: "shabnam-Bold";
  src: url("../fonts/Shabnam-Bold.ttf");
}
