/** ===== Navbar ===== */

.navbar {
  position: fixed;
  top: 5rem;
  width: 80vw;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: var(--color-brand-primary);
  z-index: 2;
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.navbar.fullShadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 1000px;
}

/** ===== Nav Menu Icon ===== */

.navbar .menuIcon {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: none;
}

.navbar .menuIcon i {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);
}

.navbar .menuIcon:hover {
  scale: 110%;
  transform-origin: center;
  color: var(--hover-color);
}

/** ===== Nav Logo ===== */

.navbar .logo {
  width: max-content;
  height: 4.5rem;
  font-size: 3rem;
  object-fit: contain;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 2px 2px #000);
  -webkit-filter: drop-shadow(0px 2px 2px #000);
}

/** ===== Nav Links ===== */

.navbar .navLinks {
  height: 100%;
  display: flex;
}

.navbar .navLinks .link {
  height: 100%;
}

.navbar .navLinks .link .titleLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .link .titleLink a {
  font-family: "shabnam-Light";
  font-size: 1.8rem;
  padding: 0 1.5rem;
  color: var(--color-white);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .navLinks .link .titleLink a:hover {
  padding-bottom: 0.5rem;
  color: var(--color-text-primary);
}

.navbar .navLinks .link .dropdown {
  position: absolute;
  top: 5.7rem;
  left: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-inverted);
  background: linear-gradient(
    0,
    var(--color-canvas) 0%,
    var(--color-brand-primary) 100%
  );
  overflow: hidden;
  border: 1px solid var(--color-border-primary);
  border-top: none;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  pointer-events: none;
  opacity: 0;
}

.navbar .navLinks .link:hover .dropdown {
  opacity: 1;
  pointer-events: initial;
}

/*? ============ Projects ============ */

.navbar .navLinks .projects .dropdown {
  justify-content: space-between;
}

.navbar .navLinks .projects .dropdown .content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.navbar .navLinks .projects:hover .dropdown .content {
  animation: topIn 0.7s ease-out;
  -webkit-animation: topIn 0.7s ease-out;
}

.navbar .navLinks .projects .dropdown .content h3 {
  font-size: 2rem;
  font-family: "shabnam-Light";
  color: var(--color-text-primary);
  margin-top: 2rem;
}

.navbar .navLinks .projects .dropdown .content ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .projects .dropdown .content ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.navbar .navLinks .projects .dropdown .content ul li:hover {
  background: var(--color-hover-black-transparent);
}

.navbar .navLinks .projects .dropdown .content ul li:hover a {
  color: var(--color-text-primary);
}

.navbar .navLinks .projects .dropdown .content ul li a {
  font-size: 1.5rem;
  font-family: "shabnam";
  color: var(--color-text-inverted);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .navLinks .projects .dropdown .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .projects .dropdown .imgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.navbar .navLinks .projects .dropdown .imgBox img.active {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
  opacity: 1;
}

/*? ============ Services ============ */

.navbar .navLinks .services .dropdown {
  justify-content: space-between;
  z-index: 100;
}

.navbar .navLinks .services .dropdown .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .services:hover .dropdown .content {
  animation: topIn 0.7s ease-out;
  -webkit-animation: topIn 0.7s ease-out;
}

.navbar .navLinks .services .dropdown .content .verticalLine {
  width: 1px;
  height: 400px;
  background: var(--color-border-white-transparent);
}

.navbar .navLinks .services .dropdown .content .horizontalLine {
  width: 90%;
  height: 1px;
  margin: 1rem;
  background: var(--color-border-white-transparent);
}

.navbar .navLinks .services .dropdown .content .list {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.navbar .navLinks .services .dropdown .content .list h3 {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: var(--color-text-primary);
  cursor: default;
  font-family: "shabnam-Light";
}

.navbar .navLinks .services .dropdown .content .list ul li {
  padding: 0.8rem 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.navbar .navLinks .services .dropdown .content .list ul li a {
  font-family: "shabnam";
  font-size: 1.5rem;
  color: var(--color-text-inverted);
}

.navbar .navLinks .services .dropdown .content .list ul li a:hover {
  color: var(--color-text-primary);
}

.navbar .navLinks .services .dropdown .content .list:last-child .specialPart {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navbar
  .navLinks
  .services
  .dropdown
  .content
  .list:last-child
  .specialPart
  ul {
  padding: 1rem 0;
}

.navbar .navLinks .services .dropdown .content .list .specialPart .imgBox {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.navbar
  .navLinks
  .services:hover
  .dropdown
  .content
  .list
  .specialPart
  .imgBox
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: scaleIn 1s ease-in;
  -webkit-animation: scaleIn 1s ease-in;
}

.navbar .navLinks .services .dropdown .content .list:last-child .specialPart p {
  font-family: "shabnam";
  font-size: 1.5rem;
  padding-top: 2rem;
  text-align: center;
  color: var(--color-text-inverted);
}

.navbar .navLinks .services .dropdown .imgBox {
  overflow: hidden;
  width: 500px;
  height: 100%;
}

.navbar .navLinks .services .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .services:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease-out;
  -webkit-animation: scaleIn 1s ease-out;
}

/*? ============ Blog ============ */

.navbar .navLinks .blog {
  display: flex;
}

.navbar .navLinks .blog .dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Blog Title */

.navbar .navLinks .blog .dropdown .blogTitle {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.navbar .navLinks .blog:hover .dropdown .blogTitle {
  animation: rightIn 1s ease-out;
  -webkit-animation: rightIn 1s ease-out;
}

.navbar .navLinks .blog .dropdown .blogTitle h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: var(--color-text-primary);
}

.navbar .navLinks .blog .dropdown .blogTitle p {
  text-align: justify;
  font-size: 1.5rem;
}

.navbar .navLinks .blog .dropdown .blogTitle .btnFlip {
  margin-bottom: 9rem;
}

/* Cards Left and Right*/

.navbar .navLinks .blog .dropdown .cardsLeft,
.navbar .navLinks .blog .dropdown .cardsRight {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card,
.navbar .navLinks .blog .dropdown .cardsRight .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card .imgBox,
.navbar .navLinks .blog .dropdown .cardsRight .card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card .imgBox img,
.navbar .navLinks .blog .dropdown .cardsRight .card .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card:hover .imgBox img,
.navbar .navLinks .blog .dropdown .cardsRight .card:hover .imgBox img {
  scale: 105%;
}

.navbar .navLinks .blog:hover .dropdown .cardsLeft .card .imgBox img,
.navbar .navLinks .blog:hover .dropdown .cardsRight .card .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card h2,
.navbar .navLinks .blog .dropdown .cardsRight .card h2 {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 20rem;
  padding-top: 16rem;
  color: var(--color-white);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8015800070028012) 77%
  );
}

.navbar .navLinks .blog:hover .dropdown .cardsLeft .card h2,
.navbar .navLinks .blog:hover .dropdown .cardsRight .card h2 {
  animation: downIn 0.7s ease-in;
  -webkit-animation: downIn 0.7s ease-in;
}

/* Cards Right Changes */

.navbar .navLinks .blog .dropdown .cardsRight {
  width: 30%;
  flex-direction: column;
}

.navbar .navLinks .blog .dropdown .cardsRight .card {
  height: 50%;
}

.navbar .navLinks .blog .dropdown .cardsRight .card h2 {
  height: 100px;
  padding-top: 6rem;
}

/*? ============ Contact Us ============ */

.navbar .navLinks .contactUs {
  display: flex;
}

.navbar .navLinks .contactUs .dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ContactInfo */

.navbar .navLinks .contactUs .dropdown .contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* QR Code */

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code img {
  width: 80%;
  height: 80%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

/* Social media */

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .socialMedia {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul {
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--color-brand-secondary);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li:hover {
  background: none;
  box-shadow: none;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: var(--color-text-secondary);
  transition: font-size 0.3s ease;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li:hover a {
  font-size: 4rem;
  color: var(--color-text-primary);
}

/* Contact Icons */

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone a,
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email a,
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address a {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-inverted);
}

.navbar .navLinks .contactUs:hover .dropdown .contactInfo {
  animation: leftIn 1s ease-out;
  -webkit-animation: leftIn 1s ease-out;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact {
  width: 100%;
  height: 30%;
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  border-top: 1px solid var(--color-border-white-transparent);
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone .numbers {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone .numbers p {
  padding-right: 2rem;
  direction: ltr;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email p {
  font-size: 1.5rem;
  padding-right: 2rem;
  direction: ltr;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address {
  grid-column: 1 / span 3;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address p {
  font-size: 1.5rem;
  padding-right: 2rem;
  width: 100%;
}

/* Image */

.navbar .navLinks .contactUs .dropdown .imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .contactUs .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .contactUs:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

/* ContactInfo */

.navbar .navLinks .contactUs .dropdown .counseling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 30%;
  height: 100%;
  padding: 2rem;
}

.navbar .navLinks .contactUs:hover .dropdown .counseling {
  animation: rightIn 1s ease-out;
  -webkit-animation: rightIn 1s ease-out;
}

.navbar .navLinks .contactUs .dropdown .counseling h3 {
  font-size: 2rem;
  margin-top: 4rem;
  color: var(--color-text-primary);
}

.navbar .navLinks .contactUs .dropdown .counseling p {
  font-size: 1.5rem;
  text-align: justify;
  width: 100%;
  margin-top: 7rem;
}

.navbar .navLinks .contactUs .dropdown .counseling .btnFlip {
  margin-top: 8rem;
}

/*? ============ About Us ============ */

.navbar .navLinks .aboutUs .dropdown .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.navbar .navLinks .aboutUs:hover .dropdown .content {
  animation: topIn 1s ease-out;
  -webkit-animation: topIn 1s ease-out;
}

.navbar .navLinks .aboutUs .dropdown .content h3 {
  font-size: 2rem;
  margin-top: 4rem;
  color: var(--color-text-primary);
}

.navbar .navLinks .aboutUs .dropdown .content p {
  margin-top: 8rem;
  font-size: 1.5rem;
  text-align: justify;
  color: var(--color-text-inverted);
}

.navbar .navLinks .aboutUs .dropdown .content .btnFlip {
  margin-top: 8rem;
}

.navbar .navLinks .aboutUs .dropdown .imgBox {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .aboutUs .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .aboutUs:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

/** ===== Nav Icons ===== */

.navbar .navIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar .navIcons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 2rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .navIcons .icon i {
  font-size: 1.8rem;
  color: var(--color-white);
}

.navbar .navIcons .icon i:hover {
  scale: 110%;
  transform-origin: bottom;
  color: var(--color-text-primary);
}

.navbar .navIcons .navSearch {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar .navIcons .navSearch .searchBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  padding-left: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar .navIcons .navSearch .searchBar.show {
  opacity: 1;
  width: 250px;
}

.navbar .navIcons .navSearch i {
  position: absolute;
}

/** ============ Vertical Navbar ============ */

.verticalNav {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--color-brand-primary);
  overflow: auto;
}

.verticalNav.hide {
  width: 0;
  padding: 0;
}

.verticalNav.hide :not(.navbar, .menuIcon, .menuIcon i) {
  display: none;
}

/** ===== Vertical Logo ===== */

.verticalNav .logo {
  position: absolute;
  top: 3%;
  right: 0;
  width: 100%;
  height: 10%;
}

.verticalNav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/** ===== Vertical Menu Icon ===== */

.verticalNav.hide .menuIcon {
  z-index: 100;
  position: fixed;
  top: 1%;
  right: 1%;
  width: 50px;
  height: 50px;
  background: var(--color-brand-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.verticalNav.hide .menuIcon:hover {
  background: transparent;
}

.verticalNav.hide .menuIcon:hover i {
  color: var(--color-text-inverted);
}

.verticalNav .menuIcon {
  z-index: 100;
  position: fixed;
  top: 1%;
  right: 1%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.verticalNav .menuIcon i {
  color: var(--color-text-inverted);
  font-size: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalNav .menuIcon i:hover {
  color: var(--color-text-primary);
}

/* Close mode */

.verticalNav.hide .menuIcon .menu {
  display: block;
  color: var(--color-text-secondary);
}

.verticalNav .menuIcon .menu {
  display: none;
}

/* Open mode */

.verticalNav .menuIcon .close {
  display: block;
}

.verticalNav.hide .menuIcon .close {
  display: none;
}

/** ===== Vertical Nav Icons ===== */

.verticalNav .navIcons {
  position: absolute;
  top: 15%;
  right: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalNav .navIcons .icon.navSearch {
  display: none;
}

.verticalNav .navIcons .icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verticalNav .navIcons .icon i {
  font-size: 2rem;
  color: var(--color-text-inverted);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.verticalNav .navIcons .icon i:hover {
  scale: 1.1;
  color: var(--color-text-primary);
}

/** ===== Vertical Nav Links ===== */

.verticalNav .navLinks {
  position: absolute;
  top: 30%;
  right: 0;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.verticalNav .navLinks .link {
  width: 100%;
  height: max-content;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.verticalNav .navLinks .link .titleLink {
  width: 100%;
  min-height: 6rem;
  padding-right: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.verticalNav .navLinks .link .titleLink:hover {
  background: var(--color-border-black-transparent);
}

.verticalNav .navLinks .link .titleLink a {
  font-family: "shabnam-bold";
  font-size: 2rem;
  color: var(--color-white);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.verticalNav .navLinks .link:hover .titleLink a {
  font-size: 2.1rem;
}

.verticalNav .navLinks .link .dropdown {
  display: none;
}

.verticalNav .navLinks .link .titleLink.active {
  width: 100%;
  height: 6rem;
}

.verticalNav .navLinks .link .titleLink.active a {
  font-family: "shabnam-bold";
  font-size: 2.1rem;
}

.verticalNav .navLinks .link .titleLink.active + .dropdown {
  display: block;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verticalNav .navLinks .link .titleLink.active + .dropdown .content {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.verticalNav .navLinks .link .titleLink.active + .dropdown .content .list {
  width: 100%;
}

.verticalNav .navLinks .titleLink.active + .dropdown .content h3,
.verticalNav .navLinks .blog .titleLink.active + .dropdown h3,
.verticalNav .navLinks .contactUs .titleLink.active + .dropdown .counseling h3 {
  font-family: "shabnam-bold";
  font-size: 1.5rem;
  width: 100%;
  padding: 2rem 30% 1rem 0;
  color: var(--color-text-primary);
}

.verticalNav .navLinks .titleLink.active + .dropdown .content h3:hover {
  background: var(--color-border-black-transparent);
}

.verticalNav .navLinks .titleLink.active + .dropdown .content .list ul {
  width: 100%;
  padding: 2rem 40% 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  display: none;
}

.verticalNav .navLinks .projects .titleLink.active + .dropdown .content ul {
  width: 100%;
  padding: 2rem 40% 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.verticalNav .navLinks .titleLink.active + .dropdown .content h3.active + ul {
  display: block;
}

.verticalNav
  .navLinks
  .titleLink.active
  + .dropdown
  .content
  .list
  h3.active
  ~ ul {
  display: block;
}

.verticalNav .navLinks .titleLink.active + .dropdown .content li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.verticalNav .navLinks .titleLink.active + .dropdown .content ul li a,
p {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: var(--color-text-inverted);
  text-align: justify;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.verticalNav .navLinks .titleLink.active + .dropdown .content ul li a:hover {
  color: var(--color-text-primary);
}

/* Images Off */

.verticalNav .navLinks .titleLink.active + .dropdown .imgBox,
.verticalNav .navLinks .contactUs .titleLink.active + .dropdown .contactInfo {
  display: none;
}

/* Blog */

.verticalNav .navLinks .blog .titleLink.active + .dropdown .blogTitle,
.verticalNav .navLinks .contactUs .titleLink.active + .dropdown .counseling,
.verticalNav .navLinks .aboutUs .titleLink.active + .dropdown {
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verticalNav .navLinks .blog .titleLink.active + .dropdown .blogTitle .btnFlip,
.verticalNav
  .navLinks
  .contactUs
  .titleLink.active
  + .dropdown
  .counseling
  .btnFlip,
.verticalNav
  .navLinks
  .aboutUs
  .titleLink.active
  + .dropdown
  .content
  .btnFlip {
  margin-top: 4rem;
}

/** ============ Responsive ============ */

/* Big Screen */
@media screen and (max-width: 1200px) {
  .navbar .navLinks .services .dropdown > .imgBox {
    display: none;
  }

  .navbar .navLinks .services .dropdown .content .list ul li a {
    font-size: 1.1rem;
  }
}

/* Desktop */
@media screen and (max-width: 900px) {
}

/* Tablet */
@media screen and (max-width: 768px) {
}

/* Smart Phone */
@media screen and (max-width: 480px) {
  .navbar.shrink.sidebar {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
