:root {
  --main-color: #393940;
  --light-color: #ffffff;
  --main-text-color: #4d536d;
  --second-text-color: #999fb6;
  --nav-text-hover-color: #f4f4f4;
  --text-light-color: #ffffff;
  --text-dark-color: #000;
  --hover-color: #bfad98;
}

/** ===== Navbar ===== */

.navbar {
  position: fixed;
  top: 50px;
  width: 80vw;
  height: 60px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-color);
  z-index: 2;
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

/*? ============ Shrink ============ */

.navbar.shrink {
  align-items: start;
  justify-content: center;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
  padding: 0 0 1rem 0;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}

/* All Animations Off */

.navbar.shrink .navLinks .blog:hover .dropdown .blogTitle {
  animation: none;
  -webkit-animation: none;
}

.navbar.shrink .navLinks {
  /* position: relative; */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  background: tomato;
}

.navbar.shrink .navLinks .link {
  height: 3rem;
  cursor: pointer;
  background: lime;
}

.navbar.shrink .navLinks .link .dropdown {
  position: initial;
  flex-direction: column;
  height: 0;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar.shrink .navLinks .link.active .dropdown {
  height: max-content;
}

/* Nav Blog */

.navbar.shrink .navLinks .blog {
  /* position: absolute; */
  flex-direction: column;
  width: 100%;
  top: 30px;
  left: 0;
}

.navbar.shrink .navLinks .blog .dropdown .blogTitle {
  width: 100%;
}

.navbar.shrink .navLinks .blog .dropdown .cardsLeft,
.navbar.shrink .navLinks .blog .dropdown .cardsRight {
  display: none;
}

/* Nav  */

/* Icons */

.navbar.shrink .navIcons {
  position: relative;
  width: 100%;
  height: 120px;
  padding: 0.2rem;
  margin-top: 10px;
  justify-content: start;
  align-items: start;
}

.navbar.shrink .navIcons .navSearch {
  position: absolute;
  top: 45px;
  width: 100%;
  height: 2.5rem;
}

.navbar.shrink .navIcons .navSearch i {
  position: absolute;
  left: 0;
  padding-left: 10px;
}

.navbar.shrink .navIcons .navSearch .searchBar.show {
  width: 98%;
}

.navbar.shrink .logo {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 1rem;
  pointer-events: none;
}

/** ===== Nav Icons ===== */

.navbar .navIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar .navIcons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .navIcons .icon i {
  font-size: 1rem;
}

.navbar .navIcons .icon i:hover {
  scale: 110%;
  transform-origin: bottom;
  color: var(--second-text-color);
}

.navbar .navIcons .navSearch {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar .navIcons .navSearch .searchBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  padding-left: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar .navIcons .navSearch .searchBar.show {
  opacity: 1;
  width: 250px;
}

.navbar .navIcons .navSearch i {
  position: absolute;
}

/** ===== Nav Links ===== */

.navbar .navLinks {
  height: 100%;
  display: flex;
}

.navbar .navLinks .link {
  height: 100%;
}

.navbar .navLinks .link .titleLink {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar .navLinks .link .titleLink a {
  font-family: "shabnam-Light";
  font-size: 1rem;
  padding: 0 0.7rem;
  color: var(--main-text-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .navLinks .link .titleLink a:hover {
  padding-bottom: 5px;
  color: var(--second-text-color);
}

.navbar .navLinks .link .dropdown {
  position: absolute;
  direction: rtl;
  top: 55px;
  left: 0;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
  background: var(--light-color);
  overflow: hidden;
  border: 1px #ffffff10 solid;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  pointer-events: none;
  opacity: 0;
}

.navbar .navLinks .link:hover .dropdown {
  opacity: 1;
  pointer-events: initial;
}

/*? ============ Blog ============ */

.navbar .navLinks .blog {
  display: flex;
}

.navbar .navLinks .blog .dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Blog Title */

.navbar .navLinks .blog .dropdown .blogTitle {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.navbar .navLinks .blog:hover .dropdown .blogTitle {
  animation: rightIn 1s ease-out;
  -webkit-animation: rightIn 1s ease-out;
}

.navbar .navLinks .blog .dropdown .blogTitle h1 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 2rem;
}

.navbar .navLinks .blog .dropdown .blogTitle p {
  text-align: justify;
  font-size: 0.8rem;
}

.navbar .navLinks .blog .dropdown .blogTitle .btn a {
  font-size: 0.8rem;
  color: var(--text-light-color);
}

/* Cards Left and Right*/

.navbar .navLinks .blog .dropdown .cardsLeft,
.navbar .navLinks .blog .dropdown .cardsRight {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card,
.navbar .navLinks .blog .dropdown .cardsRight .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card .imgBox,
.navbar .navLinks .blog .dropdown .cardsRight .card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card .imgBox img,
.navbar .navLinks .blog .dropdown .cardsRight .card .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card:hover .imgBox img,
.navbar .navLinks .blog .dropdown .cardsRight .card:hover .imgBox img {
  scale: 105%;
}

.navbar .navLinks .blog:hover .dropdown .cardsLeft .card .imgBox img,
.navbar .navLinks .blog:hover .dropdown .cardsRight .card .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card h2,
.navbar .navLinks .blog .dropdown .cardsRight .card h2 {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 200px;
  padding-top: 5rem;
  color: var(--text-light-color);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8015800070028012) 77%
  );
}

.navbar .navLinks .blog:hover .dropdown .cardsLeft .card h2,
.navbar .navLinks .blog:hover .dropdown .cardsRight .card h2 {
  animation: downIn 1s ease-in;
  -webkit-animation: downIn 1s ease-in;
}

/* Cards Right Changes */

.navbar .navLinks .blog .dropdown .cardsRight {
  width: 30%;
  flex-direction: column;
}

.navbar .navLinks .blog .dropdown .cardsRight .card {
  height: 50%;
}

.navbar .navLinks .blog .dropdown .cardsRight .card h2 {
  height: 100px;
  padding-top: 2rem;
}

/*? ============ Contact Us ============ */

.navbar .navLinks .contactUs {
  display: flex;
}

.navbar .navLinks .contactUs .dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ContactInfo */

.navbar .navLinks .contactUs .dropdown .contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 1rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: ltr;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-left: 1rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code img {
  width: 100%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code p {
  font-size: 0.8rem;
  margin: 10px auto;
}

.navbar .navLinks .contactUs:hover .dropdown .contactInfo {
  animation: leftIn 1s ease-out;
  -webkit-animation: leftIn 1s ease-out;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone {
  width: 100%;
  padding: 0 0 1rem 0;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone .numbers {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding-left: 1rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email {
  width: 100%;
  padding: 0 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: start;
  direction: ltr;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email p {
  font-size: 1rem;
  padding-left: 1rem;
  direction: ltr;
  text-align: left;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  direction: ltr;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address p {
  font-size: 0.8rem;
  padding-left: 1rem;
  direction: rtl;
  text-align: left;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia {
  display: flex;
  direction: ltr;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

/* Icons */
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone a,
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email a,
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address a,
.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li a {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0.6rem;
  background: var(--main-text-color);
  color: var(--text-light-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 1rem;
}

/* Image */

.navbar .navLinks .contactUs .dropdown .imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .contactUs .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .contactUs:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

/* ContactInfo */

.navbar .navLinks .contactUs .dropdown .counseling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 2rem;
}

.navbar .navLinks .contactUs:hover .dropdown .counseling {
  animation: rightIn 1s ease-out;
  -webkit-animation: rightIn 1s ease-out;
}

.navbar .navLinks .contactUs .dropdown .counseling h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.navbar .navLinks .contactUs .dropdown .counseling p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.navbar .navLinks .contactUs .dropdown .counseling .btn {
  font-size: 0.7rem;
}

/*? ============ About Us ============ */

.navbar .navLinks .aboutUs .dropdown .content {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem;
}
.navbar .navLinks .aboutUs:hover .dropdown .content {
  animation: topIn 1s ease-out;
  -webkit-animation: topIn 1s ease-out;
}

.navbar .navLinks .aboutUs .dropdown .content h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.navbar .navLinks .aboutUs .dropdown .content p {
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
  color: var(--second-text-color);
}

.navbar .navLinks .aboutUs .dropdown .imgBox {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .aboutUs .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .aboutUs:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

/*? ============ Services ============ */

.navbar .navLinks .services .dropdown {
  justify-content: space-between;
}

.navbar .navLinks .services .dropdown .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .services:hover .dropdown .content {
  animation: topIn 0.7s ease-out;
  -webkit-animation: topIn 0.7s ease-out;
}

.navbar .navLinks .services .dropdown .content .verticalLine {
  width: 1px;
  height: 400px;
  background: #eaeaea;
}

.navbar .navLinks .services .dropdown .content .list {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.navbar .navLinks .services .dropdown .content .list h2 {
  padding-bottom: 20px;
  font-size: 1rem;
  color: var(--main-text-color);
  cursor: default;
  font-family: "shabnam-Light";
}

.navbar .navLinks .services .dropdown .content .list ul li {
  padding: 6px 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.navbar .navLinks .services .dropdown .content .list ul li a {
  font-family: "shabnam";
  font-size: 0.9rem;
  color: var(--second-text-color);
}

.navbar .navLinks .services .dropdown .content .list ul li:hover {
  margin-right: 8px;
}

.navbar .navLinks .services .dropdown .content .list .imgBox {
  overflow: hidden;
  width: 200px;
  height: 200px;
}
/* List 4 */
.navbar .navLinks .services .dropdown .content .list:last-child {
  display: flex;
  align-items: center;
}

.navbar .navLinks .services .dropdown .content .list:last-child ul li {
  font-size: 1rem;
  padding: 10px 0;
}

.navbar .navLinks .services .dropdown .content .list .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .services:hover .dropdown .content .list .imgBox img {
  animation: scaleIn 1s ease-in;
  -webkit-animation: scaleIn 1s ease-in;
}

.navbar .navLinks .services .dropdown .imgBox {
  overflow: hidden;
  width: 500px;
  height: 100%;
}

.navbar .navLinks .services .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .services:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease-out;
  -webkit-animation: scaleIn 1s ease-out;
}

/*? ============ Projects ============ */

.navbar .navLinks .projects .dropdown {
  justify-content: space-between;
}

.navbar .navLinks .projects .dropdown .content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.navbar .navLinks .projects:hover .dropdown .content {
  animation: topIn 0.7s ease-out;
  -webkit-animation: topIn 0.7s ease-out;
}

.navbar .navLinks .projects .dropdown .content h3 {
  font-size: 1.8rem;
  font-family: "shabnam-Light";
}

.navbar .navLinks .projects .dropdown .content ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .projects .dropdown .content ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.navbar .navLinks .projects .dropdown .content ul li:hover {
  margin-right: 1rem;
  background: var(--nav-text-hover-color);
}

.navbar .navLinks .projects .dropdown .content ul li a {
  font-size: 1rem;
  font-family: "shabnam";
  color: var(--second-text-color);
}

.navbar .navLinks .projects .dropdown .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .projects .dropdown .imgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.navbar .navLinks .projects .dropdown .imgBox img.active {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
  opacity: 1;
}

/** ===== Nav Logo ===== */

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

/** ===== Nav Menu Icon ===== */

.navbar .menuIcon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: none;
}

.navbar .menuIcon {
  font-size: 2rem;
  color: var(--main-color);
}

.navbar .menuIcon:hover {
  scale: 110%;
  transform-origin: center;
  color: var(--hover-color);
}

/* Show Menu Icon in responsive mode and scrolling down */
/* .navbar.sticky :not(.navbar, .menuIcon, .menuIcon i) {
  display: none;
} */

/* .navbar.sticky .menuIcon {
  display: block;
} */

/** ===== Animations  =====  */

/* Come from the Top */
@keyframes topIn {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* Come from the Bottom */
@keyframes downIn {
  0% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* Come from the Left */
@keyframes leftIn {
  0% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Come from the Right */
@keyframes rightIn {
  0% {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Scale in */
@keyframes scaleIn {
  0% {
    opacity: 0;
    scale: 110%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

/* Scale in with low opacity */
@keyframes scaleInLowOpacity {
  0% {
    opacity: 0;
    scale: 110%;
  }
  100% {
    opacity: 0.5;
    scale: 100%;
  }
}

/** ===== Responsive  =====  */
