:root {
  --main-color: #393940;
  --light-color: #ffffff;
  --main-text-color: #4d536d;
  --second-text-color: #999fb6;
  --nav-text-hover-color: #f4f4f4;
  --text-light-color: #ffffff;
  --text-dark-color: #000;
  --hover-color: #bfad98;
}

/** ===== Navbar ===== */

.navbar {
  position: fixed;
  top: 5rem;
  width: 80vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background: var(--light-color);
  z-index: 2;
  color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

/*? ============ Shrink ============ */

.navbar.shrink {
  flex-direction: column-reverse;
  justify-content: start;
  direction: ltr;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  padding: 0 0 2rem 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

/* Show Menu Icon in responsive mode and scrolling down */

.navbar.shrink :not(.menuIcon, .menuIcon i) {
  display: none;
}

.navbar.shrink .menuIcon {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

/* Sidebar mode */

.navbar.shrink.sidebar {
  flex-direction: column-reverse;
  justify-content: start;
  direction: ltr;
  top: 0;
  right: 0;
  width: 40rem;
  height: 100vh;
  overflow: hidden;
  padding: 0 0 2rem 0;
  border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -ms-border-radius: 7px 0 0 7px;
  -o-border-radius: 7px 0 0 7px;
}

.navbar.shrink.sidebar :not(.menuIcon, .menuIcon i) {
  display: block;
}

/* All Animations Off */

.navbar.shrink.sidebar .navLinks .blog:hover .dropdown .blogTitle,
.navbar.shrink.sidebar .navLinks .projects:hover .dropdown .content,
.navbar.shrink.sidebar .navLinks .services:hover .dropdown .content,
.navbar.shrink.sidebar .navLinks .contactUs:hover .dropdown .contactInfo,
.navbar.shrink.sidebar .navLinks .contactUs:hover .dropdown .imgBox img,
.navbar.shrink.sidebar .navLinks .contactUs:hover .dropdown .counseling,
.navbar.shrink.sidebar .navLinks .aboutUs:hover .dropdown .content,
.navbar.shrink.sidebar .navLinks .aboutUs:hover .dropdown .imgBox img {
  animation: none;
  -webkit-animation: none;
}

/* Shrink Nav Icons */

.navbar.shrink.sidebar .navIcons {
  width: 100%;
  height: 12rem;
  padding: 0.2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: start;
}

.navbar.shrink.sidebar .navIcons .navSearch {
  position: absolute;
  top: 7rem;
  width: 100%;
  height: 3.5rem;
}

.navbar.shrink.sidebar .navIcons .navSearch i {
  position: absolute;
  left: 0;
  padding-left: 1rem;
}

.navbar.shrink.sidebar .navIcons .navSearch .searchBar {
  opacity: 1;
  width: 98%;
}

.navbar.shrink.sidebar .navIcons .navSearch .searchBar.show {
  width: 98%;
}

/* Shrink Nav Logo */

.navbar.shrink.sidebar .logo {
  position: absolute;
  top: 11rem;
  left: 0;
  width: 15rem;
  height: 15rem;
  padding: 2rem;
  margin-left: 50%;
  pointer-events: none;
  color: var(--text-dark-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* Shrink Nav Links */

.navbar.shrink.sidebar .navLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  margin-top: 18rem;
  overflow: auto;
}

.navbar.shrink.sidebar .navLinks .link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navbar.shrink.sidebar .navLinks .link:hover {
  background: var(--hover-color);
}

.navbar.shrink.sidebar .navLinks .link .titleLink {
  position: initial;
  width: 100%;
  height: 6rem;
  align-items: center;
  justify-content: right;
  padding-right: 3rem;
  border-top: 1px solid #0000001c;
}

.navbar.shrink.sidebar .navLinks .link .titleLink a {
  font-size: 2.3rem;
}

.navbar.shrink.sidebar .navLinks .link .dropdown {
  position: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  opacity: 1;
  box-shadow: none;
}

.navbar.shrink.sidebar .navLinks .link .titleLink.active + .dropdown {
  height: initial;
}

/* Hover */

.navbar.shrink.sidebar
  .navLinks
  .projects
  .titleLink.active
  + .dropdown
  ul
  li:hover,
.navbar.shrink.sidebar
  .navLinks
  .services
  .titleLink.active
  + .dropdown
  .content
  .list:hover {
  margin-right: 3rem;
}

/* Nav Project */

.navbar.shrink.sidebar .navLinks .projects .dropdown .content {
  width: 100%;
  align-items: end;
  padding: 0 8rem 0 0;
}
.navbar.shrink.sidebar .navLinks .projects .dropdown .content h3 {
  display: none;
}

.navbar.shrink.sidebar .navLinks .projects .dropdown .content ul li {
  justify-content: right;
}

.navbar.shrink.sidebar .navLinks .projects .dropdown .content ul li:hover {
  margin-right: 0;
  background: none;
}

.navbar.shrink.sidebar .navLinks .projects .dropdown .content ul li a {
  color: var(--text-dark-color);
}

.navbar.shrink.sidebar .navLinks .projects .dropdown .imgBox {
  display: none;
}

/* Nav Services */

.navbar.shrink.sidebar .navLinks .services .dropdown .content {
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.navbar.shrink.sidebar .navLinks .services .dropdown .content .verticalLine {
  display: none;
}

.navbar.shrink.sidebar .navLinks .services .dropdown .content .list,
.navbar.shrink.sidebar .navLinks .services .dropdown .content .list:last-child {
  align-items: start;
  justify-content: center;
  padding: 0 8rem 0 0;
  height: max-content;
}

.navbar.shrink.sidebar .navLinks .services .dropdown .content .list h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
  color: var(--text-dark-color);
}

.navbar.shrink.sidebar .navLinks .services .dropdown .content .list ul {
  display: none;
  width: 100%;
  height: max-content;
}

.navbar.shrink.sidebar .navLinks .services .dropdown .content .list.active ul {
  display: block;
}

.navbar.shrink.sidebar .navLinks .services .dropdown .content .list ul li {
  width: 100%;
  padding: 1rem 4rem 1rem 0;
}

.navbar.shrink.sidebar .navLinks .services .dropdown .imgBox {
  display: none;
}

/* Nav Blog */

.navbar.shrink.sidebar .navLinks .blog .dropdown .blogTitle {
  width: 100%;
  direction: rtl;
}

.navbar.shrink.sidebar .navLinks .blog .dropdown .cardsLeft,
.navbar.shrink.sidebar .navLinks .blog .dropdown .cardsRight {
  display: none;
}

/* Nav ContactUs */

.navbar.shrink.sidebar .navLinks .contactUs {
  height: max-content;
}

.navbar.shrink.sidebar .navLinks .contactUs .dropdown {
  flex-direction: column-reverse;
  direction: rtl;
}

.navbar.shrink.sidebar .navLinks .contactUs .dropdown .contactInfo {
  width: 100%;
  height: max-content;
}

.navbar.shrink.sidebar .navLinks .contactUs .dropdown .contactInfo .contact {
  padding: 2rem 0;
}

.navbar.shrink.sidebar
  .navLinks
  .contactUs
  .dropdown
  .contactInfo
  .socialMedia {
  padding: 2rem 0;
}

.navbar.shrink.sidebar .navLinks .contactUs .dropdown .imgBox {
  width: 100%;
}

.navbar.shrink.sidebar .navLinks .contactUs .dropdown .counseling {
  width: 100%;
}

.navbar.shrink.sidebar .navLinks .contactUs .dropdown .counseling p {
  width: 100%;
}

/* Nav AboutUs */

.navbar.shrink.sidebar .navLinks .aboutUs {
  height: max-content;
  direction: rtl;
}

.navbar.shrink.sidebar .navLinks .aboutUs .dropdown .imgBox {
  display: none;
}

.navbar.shrink.sidebar .navLinks .aboutUs .dropdown .content {
  width: 100%;
}

/** ===== Nav Menu Icon ===== */

.navbar .menuIcon {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: none;
}

.navbar .menuIcon i {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
}

.navbar .menuIcon:hover {
  scale: 110%;
  transform-origin: center;
  color: var(--hover-color);
}

/** ===== Nav Logo ===== */

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 2px 2px #000);
  -webkit-filter: drop-shadow(0px 2px 2px #000);
}

/** ===== Nav Links ===== */

.navbar .navLinks {
  height: 100%;
  display: flex;
}

.navbar .navLinks .link {
  height: 100%;
}

.navbar .navLinks .link .titleLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .link .titleLink a {
  font-family: "shabnam-Light";
  font-size: 1.5rem;
  padding: 0 0.7rem;
  color: var(--main-text-color);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .navLinks .link .titleLink a:hover {
  padding-bottom: 0.5rem;
  color: var(--second-text-color);
}

.navbar .navLinks .link .dropdown {
  position: absolute;
  top: 5.5rem;
  left: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
  background: var(--light-color);
  overflow: hidden;
  border: 1px #ffffff10 solid;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  pointer-events: none;
  opacity: 0;
}

.navbar .navLinks .link:hover .dropdown {
  opacity: 1;
  pointer-events: initial;
}

/*? ============ Projects ============ */

.navbar .navLinks .projects .dropdown {
  justify-content: space-between;
}

.navbar .navLinks .projects .dropdown .content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.navbar .navLinks .projects:hover .dropdown .content {
  animation: topIn 0.7s ease-out;
  -webkit-animation: topIn 0.7s ease-out;
}

.navbar .navLinks .projects .dropdown .content h3 {
  font-size: 2rem;
  font-family: "shabnam-Light";
}

.navbar .navLinks .projects .dropdown .content ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .projects .dropdown .content ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.navbar .navLinks .projects .dropdown .content ul li:hover {
  margin-right: 1rem;
  background: var(--nav-text-hover-color);
}

.navbar .navLinks .projects .dropdown .content ul li a {
  font-size: 1.5rem;
  font-family: "shabnam";
  color: var(--second-text-color);
}

.navbar .navLinks .projects .dropdown .imgBox {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .projects .dropdown .imgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.navbar .navLinks .projects .dropdown .imgBox img.active {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
  opacity: 1;
}

/*? ============ Services ============ */

.navbar .navLinks .services .dropdown {
  justify-content: space-between;
}

.navbar .navLinks .services .dropdown .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .services:hover .dropdown .content {
  animation: topIn 0.7s ease-out;
  -webkit-animation: topIn 0.7s ease-out;
}

.navbar .navLinks .services .dropdown .content .verticalLine {
  width: 1px;
  height: 400px;
  background: #eaeaea;
}

.navbar .navLinks .services .dropdown .content .list {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.navbar .navLinks .services .dropdown .content .list h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: var(--main-text-color);
  cursor: default;
  font-family: "shabnam-Light";
}

.navbar .navLinks .services .dropdown .content .list ul li {
  padding: 0.8rem 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.navbar .navLinks .services .dropdown .content .list ul li a {
  font-family: "shabnam";
  font-size: 1.5rem;
  color: var(--second-text-color);
}

.navbar .navLinks .services .dropdown .content .list ul li:hover {
  margin-right: 1rem;
}

.navbar .navLinks .services .dropdown .content .list .imgBox {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

/* List 4 */
.navbar .navLinks .services .dropdown .content .list:last-child {
  display: flex;
  align-items: center;
}

.navbar .navLinks .services .dropdown .content .list:last-child ul li {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.navbar .navLinks .services .dropdown .content .list .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .services:hover .dropdown .content .list .imgBox img {
  animation: scaleIn 1s ease-in;
  -webkit-animation: scaleIn 1s ease-in;
}

.navbar .navLinks .services .dropdown .imgBox {
  overflow: hidden;
  width: 500px;
  height: 100%;
}

.navbar .navLinks .services .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .services:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease-out;
  -webkit-animation: scaleIn 1s ease-out;
}

/*? ============ Blog ============ */

.navbar .navLinks .blog {
  display: flex;
}

.navbar .navLinks .blog .dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Blog Title */

.navbar .navLinks .blog .dropdown .blogTitle {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.navbar .navLinks .blog:hover .dropdown .blogTitle {
  animation: rightIn 1s ease-out;
  -webkit-animation: rightIn 1s ease-out;
}

.navbar .navLinks .blog .dropdown .blogTitle h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.navbar .navLinks .blog .dropdown .blogTitle p {
  text-align: justify;
  font-size: 1.5rem;
}

.navbar .navLinks .blog .dropdown .blogTitle .btn {
  margin-top: 6rem;
}

.navbar .navLinks .blog .dropdown .blogTitle .btn a {
  color: var(--text-light-color);
}

/* Cards Left and Right*/

.navbar .navLinks .blog .dropdown .cardsLeft,
.navbar .navLinks .blog .dropdown .cardsRight {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card,
.navbar .navLinks .blog .dropdown .cardsRight .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card .imgBox,
.navbar .navLinks .blog .dropdown .cardsRight .card .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card .imgBox img,
.navbar .navLinks .blog .dropdown .cardsRight .card .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card:hover .imgBox img,
.navbar .navLinks .blog .dropdown .cardsRight .card:hover .imgBox img {
  scale: 105%;
}

.navbar .navLinks .blog:hover .dropdown .cardsLeft .card .imgBox img,
.navbar .navLinks .blog:hover .dropdown .cardsRight .card .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

.navbar .navLinks .blog .dropdown .cardsLeft .card h2,
.navbar .navLinks .blog .dropdown .cardsRight .card h2 {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  height: 20rem;
  padding-top: 12rem;
  color: var(--text-light-color);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8015800070028012) 77%
  );
}

.navbar .navLinks .blog:hover .dropdown .cardsLeft .card h2,
.navbar .navLinks .blog:hover .dropdown .cardsRight .card h2 {
  animation: downIn 1s ease-in;
  -webkit-animation: downIn 1s ease-in;
}

/* Cards Right Changes */

.navbar .navLinks .blog .dropdown .cardsRight {
  width: 30%;
  flex-direction: column;
}

.navbar .navLinks .blog .dropdown .cardsRight .card {
  height: 50%;
}

.navbar .navLinks .blog .dropdown .cardsRight .card h2 {
  height: 100px;
  padding-top: 3rem;
}

/*? ============ Contact Us ============ */

.navbar .navLinks .contactUs {
  display: flex;
}

.navbar .navLinks .contactUs .dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ContactInfo */

.navbar .navLinks .contactUs .dropdown .contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 2rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 1rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code img {
  width: 100%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contacts .qr-code p {
  font-size: 1.5rem;
  margin: 1rem auto;
}

.navbar .navLinks .contactUs:hover .dropdown .contactInfo {
  animation: leftIn 1s ease-out;
  -webkit-animation: leftIn 1s ease-out;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone {
  width: 100%;
  padding: 0 0 2rem 0;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone .numbers {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email {
  width: 100%;
  padding: 0 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: start;
  direction: ltr;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email p {
  font-size: 1.5rem;
  padding-left: 1rem;
  direction: ltr;
  text-align: left;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  direction: ltr;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address p {
  font-size: 1.5rem;
  padding-left: 1rem;
  text-align: left;
  width: 70%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia {
  display: flex;
  direction: ltr;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li {
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

/* Icons */
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .phone a,
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .email a,
.navbar .navLinks .contactUs .dropdown .contactInfo .contact .address a,
.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li a {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0.6rem;
  background: var(--main-text-color);
  color: var(--text-light-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.navbar .navLinks .contactUs .dropdown .contactInfo .socialMedia ul li a {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 1rem;
}

/* Image */

.navbar .navLinks .contactUs .dropdown .imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .contactUs .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .contactUs:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

/* ContactInfo */

.navbar .navLinks .contactUs .dropdown .counseling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding: 2rem;
}

.navbar .navLinks .contactUs:hover .dropdown .counseling {
  animation: rightIn 1s ease-out;
  -webkit-animation: rightIn 1s ease-out;
}

.navbar .navLinks .contactUs .dropdown .counseling h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.navbar .navLinks .contactUs .dropdown .counseling p {
  font-size: 1.5rem;
  text-align: justify;
  width: 60%;
}
.navbar .navLinks .contactUs .dropdown .counseling .btn {
  margin-top: 4rem;
}

/*? ============ About Us ============ */

.navbar .navLinks .aboutUs .dropdown .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2rem;
}
.navbar .navLinks .aboutUs:hover .dropdown .content {
  animation: topIn 1s ease-out;
  -webkit-animation: topIn 1s ease-out;
}

.navbar .navLinks .aboutUs .dropdown .content h3 {
  font-size: 2rem;
}

.navbar .navLinks .aboutUs .dropdown .content p {
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: justify;
  color: var(--second-text-color);
}

.navbar .navLinks .aboutUs .dropdown .imgBox {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.navbar .navLinks .aboutUs .dropdown .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar .navLinks .aboutUs:hover .dropdown .imgBox img {
  animation: scaleIn 1s ease;
  -webkit-animation: scaleIn 1s ease;
}

/** ===== Nav Icons ===== */

.navbar .navIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar .navIcons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 1rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navbar .navIcons .icon i {
  font-size: 1.8rem;
}

.navbar .navIcons .icon i:hover {
  scale: 110%;
  transform-origin: bottom;
  color: var(--second-text-color);
}

.navbar .navIcons .navSearch {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.navbar .navIcons .navSearch .searchBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  padding-left: 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.navbar .navIcons .navSearch .searchBar.show {
  opacity: 1;
  width: 250px;
}

.navbar .navIcons .navSearch i {
  position: absolute;
}

/** ===== Animations  =====  */

/* Come from the Top */
@keyframes topIn {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* Come from the Bottom */
@keyframes downIn {
  0% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* Come from the Left */
@keyframes leftIn {
  0% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Come from the Right */
@keyframes rightIn {
  0% {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Scale in */
@keyframes scaleIn {
  0% {
    opacity: 0;
    scale: 110%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

/* Scale in with low opacity */
@keyframes scaleInLowOpacity {
  0% {
    opacity: 0;
    scale: 110%;
  }
  100% {
    opacity: 0.5;
    scale: 100%;
  }
}

/** ===== Responsive  =====  */
