/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

:root {
  --main-color: #393940;
  --light-color: #ffffff;
  --main-text-color: #4d536d;
  --second-text-color: #999fb6;
  --nav-text-hover-color: #f4f4f4;
  --text-light-color: #ffffff;
  --hover-color: #bfad98;
}

/** ===== Portfolio ===== */
#portfolio {
  width: 100%;
  height: 100vh;
  background: var(--main-color);
}

.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*? ============  SlideShow  ============ */
.portfolio .slideShow {
  width: 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .slideShow .slider {
  position: relative;
  width: 80%;
  height: 85vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--light-color);
  border-top: 1px solid var(--light-color);
}

.portfolio .slideShow .slider .slideTrack {
  width: 170px;
  height: calc(150px * 14);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: sliderImagesScroll 30s linear infinite;
  -webkit-animation: sliderImagesScroll 30s linear infinite;
}

.portfolio .slideShow .slider .slideTrack .slide {
  width: 170px;
  height: 150px;
  margin: 0.5rem auto;
  cursor: pointer;
  perspective: 100px;
}

.portfolio .slideShow .slider .slideTrack:hover {
  animation-play-state: paused;
}

.portfolio .slideShow .slider .slideTrack .slide img {
  object-fit: cover;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.portfolio .slideShow .slider .slideTrack .slide img:hover {
  transform: translateZ(10px);
  -webkit-transform: translateZ(10px);
  -moz-transform: translateZ(10px);
  -ms-transform: translateZ(10px);
  -o-transform: translateZ(10px);
}

/*? ============  MainPic  ============ */
.portfolio .mainPic {
  width: 50%;
  height: 100vh;
}

.portfolio .mainPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: showSelectImage 1s;
  -webkit-animation: showSelectImage 1s;
}

@keyframes showSelectImage {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

/*? ============  Links  ============ */
.portfolio .slideLinks {
  width: 25%;
  height: 100vh;
}

/** ===== Animations ===== */

/* Slider Images Scroll*/
@keyframes sliderImagesScroll {
  0% {
    transform: translateY(calc(150px * 3));
    -webkit-transform: translateY(calc(150px * 3));
    -moz-transform: translateY(calc(150px * 3));
    -ms-transform: translateY(calc(150px * 3));
    -o-transform: translateY(calc(150px * 3));
  }
  100% {
    transform: translateY(calc(-102px * 7));
    -webkit-transform: translateY(calc(-102px * 7));
    -moz-transform: translateY(calc(-102px * 7));
    -ms-transform: translateY(calc(-102px * 7));
    -o-transform: translateY(calc(-102px * 7));
  }
}
