/** ===== Portfolio ===== */

#portfolio {
  width: 100%;
  height: 100vh;
  background: var(--color-canvas);
}

.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*? ============  Portfolio Title  ============ */
.portfolio .title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: var(--color-brand-tertiary)
}

.portfolio .title p {
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-brand-secondary)
}

/*? ============  Portfolio Content  ============ */

.portfolio .content {
  width: 85%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Content Display */

.portfolio .content .display {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.portfolio .content .display.show {
  display: block;
}

.portfolio .content .display .closeBtn {
  text-align: center;
  width: 3rem;
  height: 3rem;
  display: none;
  color: var(--color-text-primary);
}

.portfolio .content .display.show .closeBtn {
  display: block;
}

.portfolio .content .display .closeBtn i {
  font-size: 3rem;
  cursor: pointer;
  color: var(--text-light-color);
}

.portfolio .content .display .arrowBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.portfolio .content .display .arrowBtn button {
  width: 5rem;
  height: 100%;
  border: none;
  cursor: pointer;
  z-index: 5;
  background: #00000027;
}

.portfolio .content .display .arrowBtn button i {
  font-size: 4rem;
  color: var(--color-text-inverted);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
}

.portfolio .content .display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: scaleIn 0.8s ease;
  -webkit-animation: scaleIn 0.8s ease;
}

.portfolio .content .display p {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 18rem;
  font-size: 1.7rem;
  text-align: center;
  padding-top: 12rem;
  color: var(--color-white);
  background: linear-gradient(180deg,
      #00000000 0%,
      #000000 105%);
}

/* Content Gallery */

.portfolio .content .gallery {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.portfolio .content .gallery .collection {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%;
  place-items: center;
  direction: ltr;
}

.portfolio .content .gallery .collection:hover img {
  opacity: 0.7;
}

.portfolio .content .gallery .collection .imageBox.active {
  display: block;
}

.portfolio .content .gallery .collection .imageBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  animation: showFromLeft 0.2s ease forwards;
  -webkit-animation: showFromLeft 0.2s ease forwards;
}

.portfolio .content .gallery .collection .imageBox:nth-child(1) {
  animation-delay: 0s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(2) {
  animation-delay: 0.1s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(3) {
  animation-delay: 0.2s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(4) {
  animation-delay: 0.3s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(5) {
  animation-delay: 0.4s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(6) {
  animation-delay: 0.5s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(7) {
  animation-delay: 0.6s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(8) {
  animation-delay: 0.7s;
}

.portfolio .content .gallery .collection .imageBox:nth-child(9) {
  animation-delay: 0.8s;
}

.portfolio .content .gallery .collection .imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 110%;
  cursor: pointer;
  transition: scale 0.5s ease;
  -webkit-transition: scale 0.5s ease;
  -moz-transition: scale 0.5s ease;
  -ms-transition: scale 0.5s ease;
  -o-transition: scale 0.5s ease;
}

.portfolio .content .gallery .collection .imageBox:hover img {
  scale: 100%;
  opacity: 1;
}

.portfolio .content .gallery .collection .imageBox p {
  display: none;
}

.portfolio .content .gallery .galleryBtn {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: flex-end;
}

.portfolio .content .gallery .galleryBtn .btnFlip {
  width: 100%;
}

.portfolio .content .gallery .galleryBtn .btn:hover {
  background: #8b8b8b;
}

/*? ============  content display  ============ */

/** ===== Animations ===== */
@keyframes showFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/** ===== Portfolio Responsive ===== */
/* Big Screen */
@media screen and (max-width: 1200px) {
  .portfolio .title {
    height: 30%;
  }

  .portfolio .content {
    height: 55%;
  }

  .portfolio .content .gallery .collection {
    height: 87%;
  }

  .portfolio .content .gallery .galleryBtn {
    height: 13%;
  }
}

/* Desktop */
@media screen and (max-width: 900px) {
  .portfolio {
    position: relative;
    justify-content: flex-start;
  }

  .portfolio .title {
    width: 85%;
    height: 25%;
  }

  .portfolio .title h3 {
    margin-bottom: 2rem;
  }

  .portfolio .content {
    height: 70%;
    flex-direction: column;
  }

  .portfolio .content .display {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 95vw;
    height: 80vw;
    overflow: visible;
    display: none;
    box-shadow: 0 0 0 1000px #000000b7;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 100;
  }

  .portfolio .content .display .closeBtn {
    position: absolute;
    top: -5rem;
    right: 1rem;
    display: block;
  }

  .portfolio .content .display .arrowBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .portfolio .content .gallery {
    width: 80vw;
    height: 80vw;
  }

  .portfolio .content .gallery .collection {
    height: 90%;
  }

  .portfolio .content .gallery .galleryBtn {
    height: 10%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .portfolio {
    justify-content: space-evenly;
  }

  .portfolio .title {
    height: 15%;
  }

  .portfolio .content .display .arrowBtn button i {
    font-size: 2.5rem;
  }

  .portfolio .content .gallery {
    width: 85vw;
    height: 85vw;
  }

  .portfolio .content .gallery .collection {
    height: 88%;
    gap: 3%;
  }

  .portfolio .content .gallery .galleryBtn {
    height: 12%;
  }
}

/* Smart Phone */
@media screen and (max-width: 480px) {

  .portfolio {
    justify-content: center;
    width: 100%;
  }

  .portfolio .title {
    height: 40%;
  }

  .portfolio .content {
    height: 60%;
    justify-content: flex-start;
  }

  .portfolio .content .gallery {
    width: 95vw;
    height: 100vw;
  }

  .portfolio .content .gallery .collection {
    height: 85%;
  }

  .portfolio .content .gallery .galleryBtn {
    height: 15%;
  }

}