:root {
  --main-color: #393940;
  --light-color: #ffffff;
  --main-text-color: #4d536d;
  --second-text-color: #999fb6;
  --nav-text-hover-color: #f4f4f4;
  --text-light-color: #ffffff;
  --hover-color: #bfad98;
}

/** ===== Portfolio ===== */

#portfolio {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 20% 10%, #4e646d 0%, #131313 100.2%);
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
}

/*? ============  Portfolio Title  ============ */
.portfolio .title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-light-color);
}

.portfolio .title h3 {
  font-size: 2rem;
}

.portfolio .title p {
  font-size: 1.5rem;
  text-align: center;
}
/*? ============  Portfolio Content  ============ */

.portfolio .content {
  width: 85%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Content Display */

.portfolio .content .display {
  width: 53%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.portfolio .content .display .closeBtn i {
  position: absolute;
  font-size: 3rem;
  top: 1rem;
  right: 1rem;
  color: red;
  cursor: pointer;
  display: none;
}

.portfolio .content .display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: scaleIn 0.8s ease;
  -webkit-animation: scaleIn 0.8s ease;
}

.portfolio .content .display p {
  position: absolute;
  bottom: 0;
  font-size: 1.7rem;
  text-align: center;
  width: 100%;
  height: 18rem;
  padding-top: 12rem;
  color: var(--text-light-color);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 105%
  );
}
/* Content Gallery */

.portfolio .content .gallery {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.portfolio .content .gallery .collection {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;
  direction: ltr;
}

.portfolio .content .gallery .collection:hover img {
  opacity: 0.7;
}

.portfolio .content .gallery .collection .imageBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  animation: showFromLeft 0.2s ease forwards;
  -webkit-animation: showFromLeft 0.2s ease forwards;
}

.portfolio .content .gallery .collection .imageBox:nth-child(1) {
  animation-delay: 0s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(2) {
  animation-delay: 0.1s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(3) {
  animation-delay: 0.2s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(4) {
  animation-delay: 0.3s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(5) {
  animation-delay: 0.4s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(6) {
  animation-delay: 0.5s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(7) {
  animation-delay: 0.6s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(8) {
  animation-delay: 0.7s;
}
.portfolio .content .gallery .collection .imageBox:nth-child(9) {
  animation-delay: 0.8s;
}

.portfolio .content .gallery .collection .imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 110%;
  cursor: pointer;
  transition: scale 0.5s ease;
  -webkit-transition: scale 0.5s ease;
  -moz-transition: scale 0.5s ease;
  -ms-transition: scale 0.5s ease;
  -o-transition: scale 0.5s ease;
}

.portfolio .content .gallery .collection .imageBox:hover img {
  scale: 100%;
  opacity: 1;
}

.portfolio .content .gallery .collection .imageBox p {
  display: none;
}

.portfolio .content .gallery .galleryBtn {
  width: 100%;
  height: fit-content;
}

.portfolio .content .gallery .galleryBtn .btn {
  width: 100%;
  height: 4.5rem;
  background: #727272;
}

.portfolio .content .gallery .galleryBtn .btn:hover {
  background: #8b8b8b;
}

/*? ============  content display  ============ */
/** ===== Animations ===== */

@keyframes showFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/** ===== Portfolio Responsive ===== */
/* Big Screen */
@media screen and (max-width: 1200px) {
  .portfolio .title {
    height: 25%;
  }
  .portfolio .content {
    height: 60%;
  }
}

/* Desktop */
@media screen and (max-width: 900px) {
  .portfolio {
    justify-content: center;
    position: relative;
    overflow-y: hidden;
  }
  .portfolio .title {
    height: 15%;
  }
  .portfolio .content {
    flex-direction: column;
    height: 90vw;
  }
  .portfolio .content .display {
    height: 70vh;
    width: 95vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1000px #000000b7;
    display: none;
    z-index: 3;
  }
  .portfolio .content .display .closeBtn i {
    display: block;
  }
  .portfolio .content .gallery {
    width: 90vw;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .portfolio {
    justify-content: space-evenly;
  }
  .portfolio .title {
    height: 15%;
  }
}

/* Smart Phone */
@media screen and (max-width: 480px) {
  .portfolio {
    justify-content: center;
  }
  .portfolio .title {
    height: 20%;
    margin-bottom: 3rem;
  }
}
