:root {
	/* Main color */
	--color-canvas: #262626;
	--color-canvas-inverted: #323232;

	--color-brand-primary: #3d3d3d;
	--color-brand-secondary: #a8a8a8;
	--color-brand-tertiary: #f6d676;

	--color-text-primary: #f6d676;
	--color-text-secondary: #3d3d3d;
	--color-text-inverted: #a8a8a8;

	--color-btn-primary: #f6d676;
	--color-btn-inverted: #3d3d3d;
	--color-btn-secondary: #a8a8a8;

	--color-border-primary: #3a3f4a;
	--color-border-secondary: #6a7080;
	--color-border-white-transparent: #ffffff4a;
	--color-border-black-transparent: #0000004a;

	--color-hover-white-transparent: #ffffff0f;
	--color-hover-black-transparent: #00000021;


	--color-white: #fff;
	--color-black: #000;

	--line-color: #0000002e;

	--color-text-link: --color-text-ok: --color-text-warn: --color-text-danger: --color-ui-primary: --color-ui-secondary: --color-ui-tertiary: --color-ui-ok: --color-ui-warn: --color-ui-danger:
}

/** ===== Portfolio ===== */

#review {
	width: 100%;
	height: 100vh;
	background: var(--color-canvas);
}

.review {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*? ============  Review Title  ============ */

.review .title {
	width: 70%;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}

.review .title h2 {
	color: var(--color-text-primary);
	padding-bottom: 2rem;
}

.review .title p {
	text-align: center;
	color: var(--color-text-inverted);
	font-size: 1.5rem;
}

/*? ============  Review Content  ============ */

.review .content {
	position: relative;
	width: 95%;
	height: 65%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.review .content .arrowBtn {
	position: absolute;
	top: 0;
	right: 50%;
	width: 95%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateX(50%);
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
}

.review .content .arrowBtn i {
	font-size: 5rem;
	color: var(--color-text-inverted);
	cursor: pointer;
	z-index: 1000;
}

.review .content .cards {
	width: 70%;
	height: 45rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	gap: 2%;
	place-items: center;
	margin: 0 auto;
}

.review .content .cards .card {
	width: 30rem;
	height: 45rem;
	min-width: 30rem;
	background: var(--color-canvas);
	border: 1px solid var(--color-border-white-transparent);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Right Click Animation */
.review .content .cards .card:nth-child(1),
.review .content .cards .card:nth-child(4),
.review .content .cards .card:nth-child(7) {
	animation: showCardsFromRight 1.3s ease forwards;
	-webkit-animation: showCardsFromRight 1.3s ease forwards;
}

.review .content .cards .card:nth-child(2),
.review .content .cards .card:nth-child(5),
.review .content .cards .card:nth-child(8) {
	animation: showCardsFromRight 2s ease forwards;
	-webkit-animation: showCardsFromRight 2s ease forwards;
}

.review .content .cards .card:nth-child(3),
.review .content .cards .card:nth-child(6),
.review .content .cards .card:nth-child(9) {
	animation: showCardsFromRight 2.7s ease forwards;
	-webkit-animation: showCardsFromRight 2.7s ease forwards;
}

/* Left Click Animation */
.review .content .cards .card.cardVersa:nth-child(1),
.review .content .cards .card.cardVersa:nth-child(4),
.review .content .cards .card.cardVersa:nth-child(7) {
	animation: showCardsFromLeft 2.7s ease forwards;
	-webkit-animation: showCardsFromLeft 2.7s ease forwards;
}

.review .content .cards .card.cardVersa:nth-child(2),
.review .content .cards .card.cardVersa:nth-child(5),
.review .content .cards .card.cardVersa:nth-child(8) {
	animation: showCardsFromLeft 2s ease forwards;
	-webkit-animation: showCardsFromLeft 2s ease forwards;
}

.review .content .cards .card.cardVersa:nth-child(3),
.review .content .cards .card.cardVersa:nth-child(6),
.review .content .cards .card.cardVersa:nth-child(9) {
	animation: showCardsFromLeft 1.3s ease forwards;
	-webkit-animation: showCardsFromLeft 1.3s ease forwards;
}

.review .content .cards .card .userImage {
	position: relative;
	display: flex;
	justify-content: space-around;
	padding-top: 5rem;
}

.review .content .cards .card .userImage .borderBox {
	width: 15rem;
	height: 14.5rem;
	border: 3px dashed var(--color-border-white-transparent);
}

.review .cards .card .userImage .borderBox::after {
	content: "";
	position: absolute;
	left: 12rem;
	top: 5rem;
	width: 5rem;
	height: 8rem;
	background: var(--color-canvas);
}

.review .content .cards .card .userImage img {
	width: 12rem;
	height: 14rem;
	position: absolute;
	top: 4rem;
	right: 3.4rem;
}

.review .content .cards .card .userImage i {
	color: var(--color-text-inverted);
	font-size: 6rem;
	text-align: end;
	padding-top: 5rem;
	padding-left: 2rem;
	opacity: 0.2;
}

.review .content .cards .card .info {
	padding: 2rem 4rem 0 0;
}

.review .content .cards .card .info h4 {
	font-size: 1.5rem;
	color: var(--color-text-primary);
}

.review .content .cards .card .info h3 {
	padding-top: .5rem;
	font-size: 1.2rem;
	color: var(--color-text-inverted);
}

.review .content .cards .card p {
	padding: 4rem 2rem 2rem 2rem;
	font-size: 1.2rem;
}

/** ===== Animations ===== */
@keyframes showCardsFromRight {
	0% {
		transform: translateX(-100vw);
		-webkit-transform: translateX(-100vw);
		-moz-transform: translateX(-100vw);
		-ms-transform: translateX(-100vw);
		-o-transform: translateX(-100vw);
	}

	100% {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
}

@keyframes showCardsFromLeft {
	0% {
		transform: translateX(100vw);
		-webkit-transform: translateX(100vw);
		-moz-transform: translateX(100vw);
		-ms-transform: translateX(100vw);
		-o-transform: translateX(100vw);
	}

	100% {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}
}

/** ===== Review Responsive ===== */

/* Big Screen */
@media screen and (max-width: 1200px) {
	.review .title {
		width: 80%;
	}

	.review .content {
		width: 100%;
		place-items: center;
	}

	.review .content .arrowBtn {
		width: 97%;
		z-index: 1000;
	}

	.review .content .cards {
		width: 90%;
		scale: 80%;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
}

/* Desktop */
@media screen and (max-width: 900px) {
	.review .title {
		width: 75%;
	}

	.review .title h2 {
		padding-bottom: 5rem;
	}

	.review .content .arrowBtn {
		width: 70%;
	}

	.review .content .cards {
		width: 50%;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 1fr);
	}

	.review .content .cards .card {
		display: none;
	}

	.review .content .cards .card:nth-child(n) {
		animation: showCardsFromRight 1s ease forwards;
		-webkit-animation: showCardsFromRight 1s ease forwards;
	}

	.review .content .cards .card.cardVersa:nth-child(n) {
		animation: showCardsFromLeft 1s ease forwards;
		-webkit-animation: showCardsFromLeft 1s ease forwards;
	}
}

/* Tablet */
@media screen and (max-width: 768px) {
	.review .title {
		width: 90%;
		height: 40%;
		text-align: center;
	}

	.review .content {
		height: 60%;
	}

	.review .content .arrowBtn {
		width: 85%;
	}

	.review .content .arrowBtn i {
		font-size: 4rem;
	}
}

/* Smart Phone */
@media screen and (max-width: 480px) {
	.review .content .arrowBtn {
		width: 100%;
	}
}