:root {
  --main-color: #393940;
  --main-text-color: #4d536d;
  --second-text-color: #858aa3;
  --light-color: #ffffff;
  --text-light-color: #ffffff;
  --hover-color: #bfad98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "vazir", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-size: 10px;
}

.container {
  width: 95vw;
}

/** ===== Button ===== */

.btn {
  background: var(--main-color);
  font-family: "vazir";
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  border: none;
  color: var(--text-light-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover {
  background: var(--second-text-color);
}

/** ===== Showcase ===== */

#showcase {
  position: relative;
  width: 100%;
  height: 100vh;
}

body .showcase-bg {
  width: 100vw;
  height: 100vh;
  background: url(../images/pic5.jpg) no-repeat left bottom;
  background-size: cover;
}

/** ===== Other Sections ===== */

#e2 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic11.jpg) no-repeat center bottom;
  background-size: cover;
}

#e3 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic9.jpg) no-repeat center bottom;
  background-size: cover;
}

#e4 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic7.jpg) no-repeat center bottom;
  background-size: cover;
}

#e5 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic1.jpg) no-repeat center bottom;
  background-size: cover;
}
