:root {
  --main-color: #393940;
  --light-color: #ffffff;
  --main-text-color: #4d536d;
  --second-text-color: #999fb6;
  --nav-text-hover-color: #f4f4f4;
  --text-light-color: #fff;
  --text-dark-color: #000;
  --hover-color: #bfad98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  list-style: none;
}

html {
  line-height: 1.6;
  font-size: 10px;
}

body {
  font-family: "shabnam", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  direction: rtl;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
}

/** ===== Button ===== */

.btn {
  background: var(--main-color);
  font-family: "iransans";
  font-size: 1.5rem;
  padding: 2rem 3rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--text-light-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover {
  background: var(--second-text-color);
}

/** ===== Showcase ===== */

#showcase {
  width: 100%;
  height: 120vh;
  background: radial-gradient(circle at 20% 10%, #4e646d 0%, #131313 100.2%);
}

.showcase {
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*? ============ Showcase Title ============ */

.showcase .title {
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.showcase .title.moveDown {
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
  -moz-transform: translateY(250px);
  -ms-transform: translateY(250px);
  -o-transform: translateY(250px);
}

.showcase .title h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--text-light-color);
}

/* Title Dot */

.showcase .title .titleDot {
  background: var(--text-light-color);
  width: 7px;
  height: 7px;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Title Line */

.showcase .titleLine {
  background: var(--text-light-color);
  width: 3px;
  height: 90px;
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
}

.showcase .title.moveDown .titleLine {
  height: 0px;
}

/*? ============ Showcase Intro  ============ */

.showcase .intro {
  position: absolute;
  width: 35vw;
  height: 45vh;
  bottom: -10vh;
  display: flex;
  background: #000;
  background: url(../images/pic16.jpg) no-repeat center bottom;
  background-size: cover;
  background-position-y: top;
  overflow: hidden;
  box-shadow: #26394d9a 0px -10px 50px -10px;
  border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -moz-border-radius: 50px 50px 0px 0px;
  -ms-border-radius: 50px 50px 0px 0px;
  -o-border-radius: 50px 50px 0px 0px;
}

.showcase .intro::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
}

.showcase .intro.fullScreen {
  width: 40vh;
  height: 50vh;
  animation: intro 0.5s linear forwards;
  -webkit-animation: intro 0.5s linear forwards;
}

/* Intro Title */

.showcase .intro .introContent {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase .intro .introTitle {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase .intro .introTitle h2 {
  font-size: 6rem;
  color: var(--text-light-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
}

.showcase .intro .introTitle h3 {
  font-size: 4rem;
  color: var(--text-light-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
}

@keyframes intro {
  0% {
    width: 40vw;
    height: 50vh;
  }

  50% {
    width: 40vw;
    height: 90vh;
  }

  70% {
    width: 40vw;
    border-radius: 70px 70px 0 0;
    -webkit-border-radius: 70px 70px 0 0;
    -moz-border-radius: 70px 70px 0 0;
    -ms-border-radius: 70px 70px 0 0;
    -o-border-radius: 70px 70px 0 0;
  }

  100% {
    width: 100%;
    height: 120vh;
    bottom: -20vh;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

/* Intro Image */

/** ===== Other Sections ===== */

#e3 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic9.jpg) no-repeat center bottom;
  background-size: cover;
  background-position-y: top;
}

#e4 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic7.jpg) no-repeat center bottom;
  background-size: cover;
}

#e5 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic1.jpg) no-repeat center bottom;
  background-size: cover;
}
