:root {
  --main-color: #393940;
  --light-color: #ffffff;
  --main-text-color: #4d536d;
  --second-text-color: #999fb6;
  --nav-text-hover-color: #f4f4f4;
  --text-light-color: #fff;
  --text-dark-color: #000;
  --line-color: #0000002e;
  --hover-color: #bfad98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  outline: none;
  list-style: none;
}

html {
  line-height: 1.6;
  font-size: 10px;
}

body {
  font-family: "shabnam", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  direction: rtl;
}

.container {
  max-width: 95vw;
  margin: 0 auto;
}

/** ===== Button ===== */

.btn {
  background: var(--main-color);
  font-family: "iransans";
  font-size: 1.5rem;
  padding: 2rem 3rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--text-light-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn:hover {
  background: var(--second-text-color);
}

/** ===== Wrapper ===== */

.wrapper {
  width: fit-content;
  height: fit-content;
  padding: 1%;
  overflow: hidden;
}

/** ===== Showcase ===== */

#showcase {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 20% 10%, #4e646d 0%, #131313 100.2%);
}

.showcase {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*? ============ Showcase Title ============ */

.showcase .title {
  margin-top: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.showcase .title.moveDown {
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
  -moz-transform: translateY(250px);
  -ms-transform: translateY(250px);
  -o-transform: translateY(250px);
}

.showcase .title h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--text-light-color);
}

/* Title Dot */

.showcase .title .titleDot {
  background: var(--text-light-color);
  width: 8px;
  height: 8px;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Title Line */

.showcase .title .titleLineWrap {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.showcase .titleLine {
  width: 3px;
  height: 50px;
  background: var(--text-light-color);
  animation: pointingDown 1s linear infinite;
  -webkit-animation: pointingDown 1s infinite;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

@keyframes pointingDown {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  50% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
    -webkit-transform: translateY(100);
    -moz-transform: translateY(100);
    -ms-transform: translateY(100);
    -o-transform: translateY(100);
  }
}

/*? ============ Showcase Intro  ============ */

.showcase .intro {
  position: fixed;
  width: 35vw;
  height: 45vh;
  bottom: -10vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background: tomato;
  overflow: hidden;
  border: 1px solid #ffffff5e;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50px 50px 0px 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  -moz-border-radius: 50px 50px 0px 0px;
  -ms-border-radius: 50px 50px 0px 0px;
  -o-border-radius: 50px 50px 0px 0px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.showcase .intro.fullScreen {
  width: 35vh;
  height: 50vh;
  animation: intro 0.5s linear forwards;
  -webkit-animation: intro 0.5s linear forwards;
  opacity: 1;
  border: none;
  background: #000;
  background: linear-gradient(#000000d8, #0000006e), url(../images/pic16.jpg) no-repeat center bottom;
  background-size: cover;
  background-position-y: top;

}

@keyframes intro {
  0% {
    width: 35vw;
    height: 50vh;
  }

  50% {
    width: 35vw;
    height: 90%;
  }

  70% {
    width: 35vw;
    border-radius: 70px 70px 0 0;
    -webkit-border-radius: 70px 70px 0 0;
    -moz-border-radius: 70px 70px 0 0;
    -ms-border-radius: 70px 70px 0 0;
    -o-border-radius: 70px 70px 0 0;
  }

  100% {
    width: 100%;
    height: 100vh;
    bottom: 0;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

/* BrandName */

.showcase .intro.fullScreen .brandName {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

/* Hide Logo images before open fullscreen mode */
.showcase .intro .brandName .name img, .showcase .intro .brandName .secondName img {
  opacity: 0;
}

/* Second Name */

.showcase .intro.fullScreen .brandName .secondName {
  width: 20vw;
  height: fit-content;
  padding: 1%;
  margin-bottom: 2%;
  overflow: hidden;
}

.showcase .intro.fullScreen .brandName .secondName img {
  width: 100%;
  height: 100%;
  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  filter: drop-shadow(0px 4px 4px #000);
  -webkit-filter: drop-shadow(0px 4px 4px #000);
  animation: bottomToUp 1.5s forwards;
  -webkit-animation: bottomToUp 1.5s forwards;
  animation-delay: 600ms;
}

/* Name */

.showcase .intro.fullScreen .brandName .name {
  width: 60vw;
  height: fit-content;
  padding: 1%;
  overflow: hidden;
  margin-bottom: 5%;
}


.showcase .intro.fullScreen .brandName .name img {
  width: 100%;
  height: 100%;
  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -ms-transform: translateY(200%);
  -o-transform: translateY(200%);
  filter: drop-shadow(0px 4px 4px #000);
  -webkit-filter: drop-shadow(0px 4px 4px #000);
  animation: bottomToUp 1.7s forwards;
  -webkit-animation: bottomToUp 1.7s forwards;
  animation-delay: -200ms;
}

@keyframes bottomToUp {
  from {
    opacity: 1;
    transform: translateY(1200%);
    -webkit-transform: translateY(1200%);
    -moz-transform: translateY(1200%);
    -ms-transform: translateY(1200%);
    -o-transform: translateY(1200%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* intro Content */

.showcase .intro.fullScreen .introContent {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(4px);
  background: linear-gradient(130deg, #ffffff4a 0%, #ffffff06 70%);
  border-left: 1px solid #ffffffa1;
  box-shadow: #000000a2 -10px 0px 20px 5px;
  animation: rightInAll 1s ease forwards;
  -webkit-animation: rightInAll 1s ease forwards;
  animation-delay: 1700ms;
  opacity: 0;
}

/* Intro Title */

.showcase .intro.fullScreen .introContent .introTitle {
  margin-top: 0;
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.showcase .intro.fullScreen .introContent .introTitle .wrapper h2 {
  width: 100%;
  height: 100%;
  font-size: 6rem;
  color: var(--text-light-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  animation: rightInAll 1s forwards;
  -webkit-animation: rightInAll 1s forwards;
  animation-delay: 2000ms;
  opacity: 0;
}

.showcase .intro.fullScreen .introContent .introTitle .wrapper h3 {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: var(--text-light-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  animation: rightInAll 1s forwards;
  -webkit-animation: rightInAll 1s forwards;
  animation-delay: 2200ms;
  opacity: 0;

}

.showcase .intro.fullScreen .introContent .introTitle .wrapper p {
  width: 100%;
  margin-top: 5%;
  padding-right: 2rem;
  font-size: 1.5rem;
  text-align: justify;
  color: var(--text-light-color);
  border-right: 4px solid var(--text-light-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.59));
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  animation: rightInAll 1s forwards;
  -webkit-animation: rightInAll 1s forwards;
  animation-delay: 2500ms;
  opacity: 0;
}

/* Intro Video */

.showcase .intro.fullScreen .introContent .introVideo {
  width: 40%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  animation: downInAll 1s ease forwards;
  -webkit-animation: downInAll 1s ease forwards;
  animation-delay: 3000ms;
  opacity: 0;
}


.showcase .intro.fullScreen .introContent .introVideo:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px #00000080, 0 0 20px #ffffff33;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}



.showcase .intro.fullScreen .introContent .introVideo .wrapper p {
  font-size: 2rem;
  color: var(--text-light-color);
}


.showcase .intro.fullScreen .introContent .introVideo .videoBtn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase .intro.fullScreen .introContent .introVideo .wrapper i {
  font-size: 2.5rem;
  color: var(--text-light-color);
  animation: beat 1s ease infinite;
  -webkit-animation: beat 1s ease infinite;
  animation-delay: 5000ms;
}

@keyframes beat {
  to {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}


/** ===== Other Sections ===== */

#e3 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic9.jpg) no-repeat center bottom;
  background-size: cover;
  background-position-y: top;
}

#e4 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic7.jpg) no-repeat center bottom;
  background-size: cover;
}

#e5 {
  width: 100%;
  height: 100vh;
  background: url(../images/pic1.jpg) no-repeat center bottom;
  background-size: cover;
}


/** ===== Animations  =====  */

/* Come from the Top */
@keyframes topIn {
  0% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* Come from the Bottom */
@keyframes downIn {
  0% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes downInAll {
  0% {
    opacity: 1;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}


/* Come from the Left */
@keyframes leftIn {
  0% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Come from the Right */
@keyframes rightIn {
  0% {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes rightInAll {
  0% {
    opacity: 1;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* Scale in */
@keyframes scaleIn {
  0% {
    opacity: 0;
    scale: 110%;
  }

  100% {
    opacity: 1;
    scale: 100%;
  }
}


/** ===== Responsive ===== */

/* Big Screen */
@media screen and (max-width: 1200px) {
  .showcase .intro {
    width: 60%;
    height: 40vh;
    border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
  }
}

@keyframes intro {
  0% {
    width: 60%;
    height: 50vh;
  }

  50% {
    width: 60%;
    height: 90%;
  }

  70% {
    width: 60%;
    border-radius: 70px 70px 0 0;
    -webkit-border-radius: 70px 70px 0 0;
    -moz-border-radius: 70px 70px 0 0;
    -ms-border-radius: 70px 70px 0 0;
    -o-border-radius: 70px 70px 0 0;
  }

  100% {
    width: 100%;
    height: 100vh;
    bottom: 0;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

/* Desktop */
@media screen and (max-width: 900px) {
  .showcase .intro {
    width: 60%;
    height: 40vh;
    border-radius: 30px 30px 0px 0px;
    -webkit-border-radius: 30px 30px 0px 0px;
    -moz-border-radius: 30px 30px 0px 0px;
    -ms-border-radius: 30px 30px 0px 0px;
    -o-border-radius: 30px 30px 0px 0px;
  }
}

@keyframes intro {
  0% {
    width: 60%;
    height: 50vh;
  }

  50% {
    width: 60%;
    height: 90%;
  }

  70% {
    width: 60%;
    border-radius: 70px 70px 0 0;
    -webkit-border-radius: 70px 70px 0 0;
    -moz-border-radius: 70px 70px 0 0;
    -ms-border-radius: 70px 70px 0 0;
    -o-border-radius: 70px 70px 0 0;
  }

  100% {
    width: 100%;
    height: 100vh;
    bottom: 0;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    max-width: 90vw;
  }
}

/* Smart Phone */
@media screen and (max-width: 480px) {}